@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100svh;
  display: grid;
  place-content: center;
  background-color: var(--off-white);
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main {
  width: 95%;
  max-width: 62rem;
  padding: 3.2rem clamp(1.6rem, 0.473rem + 3.005vw, 4.8rem);
  margin: 0 auto;
  border-radius: 2rem 2rem 6rem 2rem;
  background-color: var(--white);
}

.form-wrapper {
  padding-block-end: 6rem;
  border-bottom: 1px solid var(--light-grey);
  position: relative;
  margin-block-end: 6rem;
}

.form {
  display: flex;
  gap: clamp(0.8rem, 0.377rem + 1.127vw, 2rem);
}

.input-wrapper {
  flex: 1;
}

.input-wrapper-error .label {
  color: var(--light-red);
}

.input-wrapper-error .input {
  border: 1px solid var(--light-red) !important;
}

.input-wrapper-error .error-message {
  visibility: visible;
}

.error-message {
  visibility: hidden;
  color: var(--light-red);
  font-size: clamp(1rem, 0.93rem + 0.188vw, 1.2rem);
  font-weight: 500;
  font-style: italic;
}

.label {
  text-transform: uppercase;
  font-size: clamp(1.2rem, 1.13rem + 0.188vw, 1.4rem);
  font-weight: 600;
  color: var(--smokey-grey);
  letter-spacing: 0.25rem;
}

.input {
  margin-block-start: 1rem;
  margin-block-end: 0.25rem;

  width: 100%;
  font-size: clamp(2rem, 1.859rem + 0.376vw, 2.4rem);
  font-weight: 600;
  padding: 1rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.5rem;
}

.input:hover {
  cursor: pointer;
}

.input:focus {
  border: 1px solid var(--purple);
  outline: none;
}

::placeholder {
  color: var(--smokey-grey);
  font-weight: 600;
}

.btn-submit {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: var(--purple);
  border-radius: 50%;
  border: none;
  padding: 1.6rem;
}

.btn-submit:hover {
  background-color: var(--off-black);
}

.btn-submit svg {
  width: 2.3rem;
  height: auto;
}

.result-wrapper {
  font-style: italic;
  font-weight: bold;
  font-size: 3.2rem;
}

.result {
  color: var(--purple);
}

.result-wrapper h2 {
  font-size: clamp(3.6rem, 2.332rem + 3.38vw, 7.2rem);
  line-height: 1.1;
}
